.message__response{
  position: absolute;
  top: 0;
  margin: 103px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #0f151cf5;
  height: 60px;
  width: 300px;
}
.window_close{
  transform: translateY(-300%);
  transition: transform .5s;
}
.window_open{
  transform: translateY(0%);
  transition: transform .5s;
}
.message__response .icon__message{
  font-size: 1.2rem;
  color: #1bb822;
}
.message__response p{
  font-size: 1.3rem;
  color: #fff;
}