.content_creating{
  width: 50%;
  position: absolute;
  right: 27%;
  top: 70%; 
}
.create_nameBusiness{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.create_nameBusiness h1{
  font-size: 2.5rem;
}
.create_nameBusiness input{
  width: 50%;
  padding: 15px 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 3px black;
  font-size: 1rem;
}
.create_nameBusiness input::placeholder{
  font-size: 1rem;
}
.create_nameBusiness button{
  font-size: 1.1rem;
  padding: 10px 25px;
  border: none;
  background-color: #288ce9;
  border-radius: 10px;  
  color: white;
  margin: 10px 20px;
  cursor: pointer;
}
.more_optiones button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  margin-top: 10px;
  background-color: #cecece;
  padding: 15px 25px;
  color: #646464;
  border-radius: 10px;  
  cursor: pointer;
  font-size: 1rem;
}
.information_business{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  width: 100%;
  gap: 5px;
}
.content_grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(1,1fr);
}
.location_business{
  width: 100%;
  height: auto;
}
.information_business p{
  font-size: 1.2rem;
}
.information_import{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}
.information_import p{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.information_import .icon{
  font-size: 1.4rem;
}
.l{
  color: red;
}
.e{
  color: #e94828;
}
.f{
  color: #288ce9;
}
.c{
  color: #999900;
}
.schedule{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  
}
.schedule p{
  font-size: 1.3rem;
}
.information_business button{
  font-size: 1.1rem;
    padding: 10px 25px;
    border: none;
    background-color: #288ce9;
    border-radius: 10px;
    color: white;
    margin: 10px 20px;
    cursor: pointer;
}
@media (max-width: 1790px) {
  .content_creating{
    right: 25%;
  }
}
@media (max-width: 1630px) {
  .content_creating{
    right: 23%;
  }
}
@media (max-width: 1523px) {
  .content_creating{
    right: 21%;
  }
}
@media (max-width: 1420px) {
  .content_creating{
    right: 19%;
  }
}
@media (max-width: 1320px) {
  .content_creating{
    right: 17%;
  }
}
@media (max-width: 1220px) {
  .content_creating{
    right: 15%;
  }
}
@media (max-width: 1160px) {
  .content_creating{
    right: 13%;
  }
}
@media (max-width: 1100px) {
  .content_creating{
    right: 10%;
  }
}
@media (max-width: 1035px) {
  .content_creating{
    right: 7%;
  }
}
@media (max-width: 320px){
  .account__images{
    margin-bottom: 220px;
  }
  .content_creating{
    top: 89%;
    right: 1%;
    width: 96%;
  }
  .create_nameBusiness  h1{
    font-size: 1.7rem;
    text-align: center;
  }
  .content_grid{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,1fr);
  }
  .information_business p{
    font-size: 1.1rem;
    text-align: center;
  }
  .information_import p{
    text-align: center;
  }
}
@media (max-width: 480px){
  .account__images{
    margin-bottom: 220px;
  }
  .content_creating{
    top: 89%;
    right: 1%;
    width: 96%;
  }
  .create_nameBusiness  h1{
    font-size: 1.7rem;
    text-align: center;
  }
  .content_grid{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,1fr);
  }
  .information_business p{
    font-size: 1.1rem;
    text-align: center;
  }
  .information_import p{
    text-align: center;
  }
}
@media (max-width: 480px){
  .create_nameBusiness  {
    justify-content: center;
  }
  .create_nameBusiness  h1{
    font-size: 2rem;
    text-align: center;
  }
  .information_business p{
    font-size: 1.3rem;
    text-align:left;
  }
}