.comments{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30%;
  height: 100vh;
  background-color: #fff;
}
.comments h2{
  font-size: 2rem;
  text-align: center;
  margin: 10px 0px;
}
.comments input[name='comments']{
  width: 100%;
  padding: 40px 10px;
  border: none;
  box-shadow: 0px -5px 10px #00000015;
  font-size: 1.1rem;
}
.comments input::placeholder{
  font-size: 1.1rem;
}
.comments input:focus{
  outline: none;
}

/*Comentarios de los usuarios*/
.comments__bussines{
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
}
.comment__user{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 30px 0px 40px 0px;
}
.comment__img_user{
  position: relative;
  background-color: #fff;
  width: 30%;
  margin-right: 10px;
}
.comment__letters img{
  position: absolute;
  left: -75px;
  top: -25px;
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 100%;
}
.comment__letters{
  position: relative;
  padding: 10px;
  background-color: #e7e7e7;
  margin-right: 50px;
  border-radius: 0px 10px 10px 10px;
  width: 100%;
}
.comment__letters::before{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #e7e7e7;
  top: 0;
  left: -8px;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}
.comments__write{
  position: relative;
}
.btn__send{
  position: absolute;
  top: 0;
  right: 0;
}