.swiper-wrapper{
  background-color: transparent;
}
.swiper-slide{
  background: transparent !important
}
.cardBusiness {
  
  width: 100%;
  height: 600px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*https://codepen.io/hakankoesekadam/pen/NVpjQZ*/
