.cardBusiness {
  position: relative;
  border-radius: 30px;
  margin: auto;
  width: 98%;
  margin-bottom: 20px;
  padding-bottom: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#slider-business{
  background-color: transparent;
  width: 100%;
  height: 100%;
}


/*COMPONENTE DE CARGA EN LOS NEGOCIOS*/
.BusinessLoading{
  position: absolute;
  text-align: center;
  height:100%;
  width:100%;
  z-index: 1;
}

.BusinessLoading div {
  position: relative;
  top:40%;
  bottom:0;
  left:0;
  right:50;

}
.BusinessLoading div h3 {
  font-weight: bolder;
}