.search_input{
  position: absolute;
  width: 100%;
  padding: 8px;
  padding-left: 30px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  z-index: 10;
}
.icon_close_search{
  position: absolute;
  right: 10px;
  font-size: 1.3rem;
  cursor: pointer;
  z-index: 11;
}
.icon_search{
  position: absolute;
  left: 5px;
  font-size: 1.3rem;
  cursor: pointer;
  z-index: 11;
}
