/* -- Modal para filtrar los negocios -- */
.modal{
  display: none;
  background-color: #0e0e0e7e;
  z-index: 100000;
}
.close{
  transform:  translateX(100%);
  
}
.close > .btn-close:target{
  animation: modalClose .3s ease-in-out;
}
@keyframes modalClose {
  0%{
    transform:  translatey(0%);
  }
  100%{
    transform:  translateX(100%);
  }
}
.open{
  display: flex;
  justify-content: center;
  align-items: center;
  position:fixed;
  width: 100%;
  height: 100%;
  transform:  translateX(0%);
  z-index:100000;
  animation: modal .3s ease-in-out;
}
@keyframes modal {
  0%{
    transform:  translatey(100%);
  }
  100%{
    transform:  translateX(0%);
  }
}
.filter-modal{
  border-radius: 10px;
  background-color: #fff;
  width: 500px;
  height: 300px;
  position: relative;
}
.filter-modal h2{
  margin: 30px 0px 1px 0px;
}
.btn-close{
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 5px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: none;
  background-color: #ff4242;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 10;
}
.filter-select{
  width: auto;
  height: 52%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.filter-select select{
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 4px #0f3a4d;
  width: 100%;
  margin: 50px 30px 0px 30px;
  padding: 10px;
}
.filter-select select option{
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}
.btn-change-location{
  border: none;
  background-color: #2180a8;
  padding: 10px;
  width: 120px;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #0f3a4d;
  cursor: pointer;
}
