.bussines__items{
  position: relative;
  border-radius: 10px;
  background-color: #fff;
}
.bussines__items h2{
  font-size: 2rem;
  border-left: 15px solid #007add;
  padding: 10px ;
  color: #03233d;
}
.bussines__items h2{
  margin-bottom: 15px;
}
.items__img{
  display: grid;
  grid-template-columns:repeat(3,1fr);
  grid-auto-rows: minmax(280px,200px);
  gap: 40px;
  width: 100%;
  height: 50vh;
  /*overflow: hidden;
  overflow-y: scroll;*/
}
/*Contenedor de las imagenes de los items*/
.content__img__items{
  position: relative;
  overflow: hidden;
}
.content__img__items img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 100%;
  border-radius: 10px;
}
.content__img__items > .text{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 25px 10px;
  border-radius: 10px;
  background-color: #03233db2;
  color: #fff;
  transition: transform .5s;
  transform: translateY(0%);
}

.content__img__items:hover > .text{
  transform: translateY(-100%);
}
.content__img__items:target > img{
  position: fixed;
  width: 90vw;
  height: 90vh;
}
.text > h3{
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.text > p{
  margin-bottom: 10px;
  font-size: 1rem;
}
#price{
  font-weight: bold;
}
.btn_item{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #288ce9;
  padding: 8px 15px;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
}
#edit_btn{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: none;
  bottom:10px;
  left: 10px;
  background-color: #288ce9;
  padding: 8px 15px;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
}
#del_btn{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: none;
  bottom:10px;
  right: 10px;
  background-color: #dd3b3b;
  padding: 8px 15px;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
}
.promotion_item{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 222px;
  height: 30px;
  top: 19px;
  right: -74px;
  background-color: red;
  color: white;
  z-index: 1;
  transform: rotate(40deg);
}
@media (max-width: 320px) {
  .items__img {
    grid-template-columns: repeat(1,1fr);
  }
}
@media (max-width: 480px) {
  .items__img {
    grid-template-columns: repeat(1,1fr);
  }
}
@media (max-width: 768px) {
  .items__img {
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: minmax(280px,200px)
  }
}