.form-register{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  width: 70%;
  height: 90%;
}
.form-register form{
  width: 50%;
}
.form-register h2{
  margin: 0px 15px 35px 15px;
  color: #000000;
}
.errorMsg{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
 
}
.form-register input:focus{
  border: none;
 }
.form-register input:focus + label .text-name,
.form-register input:valid + label .text-name{
  transform: translateY(-130%);
  font-size: .9rem;
  color: #000000;
  background-color: #fff;
z-index: 10;
  transition: all .5s;
}
.containerLocation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.containerLocation select{
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 70%;
  padding: 10px;
}
.content__login{
  width: 50%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#00e1ff,#00a3cc);
  color: #fff;
  padding: 20px;
}
.content__login img{
  width: 50%;
  height: 100%;
  border-radius: 5px 0px 0px 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  object-fit: cover;
  object-position: -30px;
  z-index: 1;
}
.content__login h1{
  font-size: 3rem;
  z-index: 2;
}
.content__login p{
  text-align: justify;
  font-size: 1.3rem;
  margin: 20px 0;
  z-index: 2;
}
.content__login button{
  padding: 10px 30px;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  z-index: 2;
}

/*Iconos del password*/
.icon_input{
  position: absolute;
  right: 30px;
  top: 14px;
  z-index: 10;
  color: red;
}
