.form-register{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  width: 70%;
  height: 70%;
}
.form-register form{
  width: 50%;
}
.form-register h2{
  margin: 0px 15px 35px 15px;
  -webkit-text-stroke: 1px #000000;
  color: transparent;
}
.errorMsg{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
 
}
.form-register input:focus{
  border: none;
 }
.form-register input:focus + label .text-name,
.form-register input:valid + label .text-name{
  transform: translateY(-170%);
  font-size: .9rem;
  color: #000000;
  transition: all .5s;
}
.containerLocation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.containerLocation select{
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 70%;
  padding: 10px;
}
.content__login{
  width: 50%;
  height: 100%;
  background-color: #f04545;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 20px;
}
.content__login h1{
  font-size: 3rem;
}
.content__login p{
  text-align: justify;
  font-size: 1.3rem;
  margin: 20px 0;
}
.content__login button{
  padding: 10px 30px;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
}
