section{
  background-color: #fff;
}

.welcome{
  position: relative;
  width: 100%;
  height: 88vh;
}
.img-welcome{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.description-aplication{
  width: 30%;
  height: 40%;
  background-color: #808080c0;
  position: absolute;
  margin: 0 0 6% 8%;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 15px;
  border-radius: 10px;
}
.logotipo{
  width: 200px;
  height: 200px;
}
.description-aplication h1{
  color: #fff;
  text-shadow: -2px -2px 3px #0e2d3a;
}
.description-aplication p{
  font-size: 1.5rem;
  text-align: justify;
  color: #fff;
  text-shadow: -2px -2px 3px #0e2d3a;
}
