/*Styles of Shapedivider.app*/
.custom-shape-divider-bottom-1664733204 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1664733204 svg {
  position: relative;
  display: block;
  width: calc(188% + 1.3px);
  height: 251px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1664733204 .shape-fill {
  fill: #FFFFFF;
  animation: bg-ocean 4s ease-in-out infinite;
}
@keyframes bg-ocean {
  0%{
   transform: translateY(0%);
  }
  50%{
    transform: translateY(-20%);
  }
}
.background{
  position: absolute;
  height: 980px;
  width: 80%;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 10px #e0e0e0;
  transform: translate(10%,10%);
  top: 0;
  left: 0;
  z-index: -1;
}
.welcome{
  background: linear-gradient(  #0d4a6e 98%,  #fff 5%);
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.video-welcome{
  position: relative;
  width: 100%;
  height: 100%;
  filter: blur(4px);
  object-fit: cover;
  transition: all .5s;
}
.draw{
  position: absolute;
  top: 100px;
  right: 80px;
  width: 500px;
  animation: draw 7s infinite;
  z-index: 2;
}
.clouds{
  position: absolute;
  top: 100px;
  right: 80px;
  width: 500px;
  animation: draw 7s infinite;
  z-index: 1;
}

@keyframes draw {
  0%,100%{
    transform: translateY(50px);
  }
  50%{
    transform: translateY(120px);
  }

}
.description-aplication{
  position: absolute;
  width: 44%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 15px;
  border-radius: 10px;
  margin-left: 50px;
}
.logotipo{
  width: 200px;
  height: 200px;
}
.description-aplication h1{
  font-size: 4rem;
  position: absolute;
  transform: translate(0%, -100%);
}
.description-aplication h1:nth-child(1){
  color: transparent;
  -webkit-text-stroke: 2px #ffffff;
}
.description-aplication h1:nth-child(2){
  color: #ffffff;
  animation: text-ocean 2s ease-in-out infinite;
}
@keyframes text-ocean {
  0%,100%{
    clip-path: polygon(0% 66%, 12% 66%, 25% 66%, 39% 63%, 53% 55%, 60% 49%, 70% 40%, 80% 33%, 100% 31%, 100% 100%, 0% 99%);
  }
  50%{
    clip-path: polygon(1% 23%, 12% 27%, 21% 34%, 29% 42%, 35% 49%, 43% 56%, 54% 65%, 70% 68%, 100% 68%, 100% 99%, 0% 100%);

  }
}

.description-aplication p{
  font-size: 1.5rem;
  text-align: justify;
  color: #fff;
  text-shadow: -2px -2px 3px #0e2d3a;
}
@media (max-width: 768px) {

  .description-aplication{
    top: 150px;
    z-index: 2;
  }
  .description-aplication h1{
    font-size: 38px;
  }
  .description-aplication p{
    font-size: 26px;
    margin-top: 40px;
    width: 350px;
  }
.draw{
  width: 250px;
  height: 250px;
  top: 135px;
  right: 50px;
  z-index: 2;

}
.clouds{
  top: 136px;
  width: 300px;
  right: 28px;

}
}

@media (max-width:458px) {
  .filterSection{
    flex-direction: column;
  }
  .description-aplication{
    top: 150px;
    z-index: 2;
  }
  .description-aplication h1{
    font-size: 28px;
  
  }
  .description-aplication p{
    font-size: 21px;
    margin-top: 20px;
    width: 331px;
  }
  .draw{
    width: 200px;
    height: 200px;
    top: 184px;
    left: 150px;
    z-index: 1;
    display: none;

  }
  .clouds{
    top: 136px;
    width: 270px;
    display: none;
  }
}