#services{
  display: none;
}
.nav{
  width: 100%;
  height: 80px;
  position: fixed;
  transition: all .7s;
  background-color:#0f151c8d ;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 0px 26px 30px;
  z-index: 10000;
}
nav.down{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: #0f151cd8;
  font-weight: bold;
  box-shadow: 0px -1px 10px #000d13;
  transition: all .7s;
  padding: 0;
}
nav.down .resultSearch{
  top: 50px;
  transition: all .7s;
}
.logo-touristapp{
  width: 170px;
  transition: all .7s;
}
.logo-touristapp-burger{
  width: 170px;
  margin: 0 10px;
}
.logo-touristapp.down{
  position: relative;
  width: 170px;
  margin: 0 10px;
  transition: all .7s;
}
ul a{
  text-decoration: none;
  color: #fff;
}
li{
  position: relative;
  text-decoration: none;
  list-style: none;
  width: 100%;
  font-size: 1rem;
  padding: 5px 0px;
  cursor: pointer;
  text-align: center;
}
.list::after{
  content: "";
  width: 0%;
  height: 2px;
  left: 50%;
  bottom: 0;
  transform:translateX(-50%);
  background: #ffffff;
  position: absolute;
  transition: all .5s;
  margin-top: 5px;
}
.list{
  color: white;
}
.list:hover::after{
  width: 50%;
}

.location-burger{
  display: none;
}
.location-burger.down{
  display: flex;
}
.location-burger.down p{
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}
.location-burger p:hover .logo-location{
  transform: translateY(0px);
  animation: none;
  transition: all .5s;
}
.logo-location{
  animation: logoUbicacion .9s ease infinite;
}
@keyframes logoUbicacion {
  0%{
    transform: translateY(-5px);
    transition: all .10s;
  }
  25%{
    transform: translateY(-10px);
    transition: all .10s;
  }
  50%{
    transform: translateY(-5px);
    transition: all .10s;
  }
  75%{
    transform: translateY(0px);
    transition: all .10s;
  }
  100%{
    transform: translateY(-5px);
    transition: all .10s;
  }
}
@media (min-width: 1000px) {
  .logo-touristapp{
    margin: 0px 0px;
    width: 200px;
    transition: all .7s;
  }
  #services{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 100%;
  }
  .menu.down{
    display: none;
    
  }
  .location-burger.down{
    display: none;
  }
  #services.down{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 100%;
  }
  .links{
    position: relative;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .links > .login_and_register{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .links ul a{
    width: 100%;
    gap: none;
  }
  .links span{
    width: 100%;
  }

  .list:hover::after{
    width: 80%;
  }
  .location{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-weight: none;
    font-size: .9rem;
  }
  .location p{
    padding: 8px 8px;
    border-radius: 10px;
    color: #fff;
    transition: all .6s;
  }
  .location p:hover .logo-location{
    transform: translateY(0px);
    animation: none;
    transition: all .5s;
  }
  .menu{
    display: none;
  }
  .menu-active{
    display: none;
  }
  .services-menu{
    display: none;
  }
}
@media (max-width: 999px){
  .nav.down{
    display: none;
  }
  .nav{
    display: none;
  }
  .content_responsive{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: red;
    z-index: 10;
  }
}