#title__ng{
  position: relative;
  text-align: center;
  margin: 10px 0 0px 0;
  color: #000;
  -webkit-text-stroke: 1px #000;
  font-size: 100px;
  -webkit-background-clip: text;
  background-position: 10px 0;
  text-transform: lowercase;
  z-index: 2;
}
#title__ng::first-letter{
  text-transform: uppercase;
}
#title__pm{
  position: relative;
  text-align: center;
  margin: 10px 0 0px 0;
  color: #000;
  -webkit-text-stroke: 1px #000;
  font-size: 100px;
  -webkit-background-clip: text;
  background-position: 10px 0;
  z-index: 2;

}
#bag{
 position: absolute;
 left: 30%;
 top: -28px;
 font-size: 9rem;
 color: #0a4a6e21;
 transform: rotate(330deg);
}

#tag{
  position: absolute;
  left: 24%;
  top: -28px;
  font-size: 9rem;
  color: #0a4a6e21;
  transform: rotate(100deg); 
}

@media (max-width:768px) {
  #title__ng{
    font-size: 38px;
  }
  #title__pm{
    font-size: 38px;
  }
  #bag{
    font-size: 1.8em;
  }
  #tag{
    font-size: 1.8em;
  }
}


@media (max-width:458px) {
  #title__ng{
    font-size: 22px;
  }
  #title__pm{
    font-size: 22px;
  }
  #bag{
    font-size: 3em;
  }
  #tag{
    font-size: 3em;
  }
}