*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  Helvetica;
}
nav{
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30%;
}
/* -- Clases del componente Incio -- */
.home{
  background-image: url('./components/images/paisaje.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.background-img{
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vacio{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1700px;
  background-color: #fff;
}




/*Clases del componente formulario de registro*/
.form-register{
  width: 450px;
  background-color: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius:4px;
  font-family: 'calibri', sans-serif;
  color: #fff;
  box-shadow: 1px 13px 37px #000;
  
}




.form-register label{
  margin: 11px 0px;
  text-align: left;
  }

.form-register h4{
  font-size:22px;
  margin-bottom: 20px;
}

.controls{
  width: 100%;
  background:#24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom:16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: #fff;
}

.form-register p {
  height:40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: #fff;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border:none;
  padding:12px;
  color: white;
  margin:16px 0;
  font-size: 16px;
}

.linkBox{
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  gap: 15px;
}
.linkBox .check{
  width: 20px;
}
/* --- Terminacion de Registro -- */

/* login */
.login-Container{
  display: flex;
  flex-direction: column;
  text-align: left;
}


.login-Container label{
margin: 11px 0px;

}
/* fin login */


/* -- Clases del navbar -- */
.first.abajo{
  background-color: #fff;
  padding: 0px 0px 0 30px;
}
.second.abajo{
  display: block;
}
.third.abajo{
  display: flex;
}
.first{
  transition: all .7s;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 26px 0px 10px 30px;
}
.icon{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 5%;
}
.logo{
  width: 70px;
}

.search-places{
  display: flex;
  justify-content: center;
  position: relative;
}
.input-search{
  width: 40rem;
  padding: 15px;
  margin-left: 50px;
  border-radius: 50px;
  border: 1px solid black;
  outline: 0;
  padding-left: 40px ;
  font-size: 1rem;

}
.input-search::placeholder{
  color: #0000009c;
}
.icon-search{
  position: absolute;
  font-size: 1.8rem;
  left: 57px;
  bottom: 2px;
}
.second{
  display: none;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  transition: 0.7s;
  /* background: linear-gradient(31deg,transparent 9%, #3bb0e2 13%, #3bb0e2 90%); */
}
.search-accounts{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 0 40px;
}
.location{
  display: flex;
  justify-content: flex-star;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px 0px;
}
.location-img{
  width: 32px;
  font-size: 1.5rem;
  color: red;
}
.location h3{
  margin: 5px 10px 5px 5px;
  color: #292929;
}
.third{
  display: none;
  justify-content: flex-start;
  background-color: transparent;
}
.third p{
  background-color: #cecece;
  clip-path:  polygon(0% 0%, 85% 0%, 100% 100%, 15% 100%);
  padding: 2px 25px;
}


/* -- menu desplegable -- */
.dropdown-menu{
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.dropdown-menu li{
  position: relative;
	display: inline-block;
}
.dropdown-menu  li:hover{
  border-radius: 0;
  box-shadow: none;
}
.accounts{
  color: #fff;
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #2180a8;
  box-shadow: 0px 0px 10px #2f8ab1;
  margin-right: 40px;
  
}
.accounts:hover{
  border-radius: 0;
}
.vertical-menu{
  position: absolute;
	background: #2180a8;
	width: 97%;
	visibility: hidden;
	opacity: 0;
	transition: opacity .8s;
}
.vertical-menu:hover::before .accounts {
  border-radius: 0;
}
.dropdown-menu li:hover .vertical-menu{
  position: absolute;
	visibility: visible;
	opacity: 1;
  
}
.vertical-menu li:hover{
	background-color: #2f8ab1;
  width: 100%;
  
}

.vertical-menu li a{
  cursor: pointer;
  display: block;
	padding: 15px;
	color: #fff;
	text-decoration: none;
}
/* -- terminación del menu desplegable -- */


/* -- Footer -- */
.footer{
  margin-top: 200px;
  width: 100%;

}

.infoApp{
  width: 30%;
  background-color: #0a1d44;
  color: #fff;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 15px;
  
}

.containerInfo{
  display: flex;
  flex-direction: row;

}

.contentButtons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 70%;
}

.contentOptions{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}


.contentInfoRed{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.contentInfoRed hr{
  width: 60%;
}

/* .contentButtons{
  display: flex;
  justify-content: space-around;
  width: 70%;
  background-color: #e8e8e8;
} */

.customerService,.aboutUss{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.customerService p a{
  text-decoration: none;
  color: #000;
}

.aboutUss p a{
  text-decoration: none;
  color: #000;
}

.subFooter{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  height: 75px;
}

.contentIcons{
  width: 80%;
}

.icons{
  width: 50%;
  display: flex;
  justify-content: space-around;
  height: 20px;
}

.contentIcons{
  width: 40%;
  display: flex;
  justify-content: center;
}

.iconBtn{
  border-style: none;
  width: 32px;
  font-size: 1.7rem;
  background-color: #fff;
  color: #000;
  padding: 10px;
}

.nameDevelopers{
  padding: 10px;
  width: 60%;
}

/* -- terminacion del Footer -- */


/* -- About As -- */

/*img fija*/

.about{
    background-image: url(components/images/AboutAs01.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    width: 100%;
    height: 60rem;
}

.containerAbout{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
}

.containerAbout h1{
  font-size: 100px;
  text-align: center;
  color: #fff;
  text-shadow: 8px 0 5px black;
}

.containerParrafo{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-image: url(./components/images/fondoParrafo.jpg);
  background-size: cover;
  
  
}

.containerImg{
  margin-top: 50px;
  
}

.imgAcerca{
  width: 600px;
  height: 400px;
}

.containerImg h3{
  padding: 10px;
  color: #0d4a6e;
  font-size: 40px;
  font-weight: bold;
}
.containerImg p{
    width: 600px;
    height: auto;
    text-align: justify;
    line-height: 25px;
}

.containerEstadistica{
  display: flex;
  justify-content: space-evenly;
  background-image: url(./components/images/aboutEstadistica.jpg);
  background-size: cover;
  margin-top: 30px;
  width: 100%;
  height: auto;
}

.containerIcons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 535px;
  color: #fff;
  font-size: 40px;
  gap: 10px;
}
.containerIcons h3{
  font-size: 22px ;
}

#num{
  font-size: 58px;
  margin-left: 30px;
}

#iconTags{
  box-sizing: border-box;
}

#iconSum{
  color: red;
  font-size: 40px;
  font-weight: bold;
}

.containerVideo{
  width: 500px;
  height: 500px;
}

/* -- Termina About As -- */
